<h1>Translations</h1>

<a href="/editor/add_translation">Add new translation</a> |
<a href="/editor/clear_seleted_files">Clear Translation File Selection</a>
<p>Note, we are using <strong>en</strong> as the default language...
<ul>
  <% @base_translations.each_pair do |key, value| %>
    <li><span class="key"><%= key %></span><a name="<%= key %>"></a>
        <span class="links"><a href="/editor/rename_translation?key=<%= key %>" class="edit">rename</a> |
        <a href="/editor/delete_translation?key=<%= key %>" class="delete" onclick="return confirm('Are you sure? This cannot be reversed!');">delete</a></span>
        <ul>
          <li><span class="lang">en</span>
            <span class="translation primary"><%=o truncate(value, 100) %></span>
            <a href="#" class="edit_translation" data-key="<%= key %>" data-value="<%= value %>" data-lang="en">edit</a>
          </li>
          <% @translations.each_pair do |lang, translations| %>
            <li>
              <span class="lang"><%= lang %></span>
              <span class="translation"><%=o truncate(translations[key] ||= "No translation found", 40)%></span>
              <a href="#" class="edit_translation" data-key="<%= key %>" data-value="<%= translations[key] %>" data-lang="<%= lang %>">edit</a>
            </li>
          <% end %>
        </ul>
    </li>
  <% end %>
</ul>